<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.svg">
    <title>WebChat</title>

    <!-- Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <h1 title="Made by el duro de Nico"><a href="https://niiico.com" id="logoNico"><svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280 280"><title>niiico.com</title><polygon points="92 277 117.5 78.5 163 141.5 186.5 3.5 182 216.5 132 153 92 277" /></svg></a>
            WebChat
        </h1>
        <div class="conectados">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="lightgreen">
                <path
                    d="M160 256C160 202.1 202.1 160 256 160C309 160 352 202.1 352 256C352 309 309 352 256 352C202.1 352 160 309 160 256zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z" />
            </svg>
            <span id="countConectados" title="Cuantos hay conectados">0</span>
        </div>
    </header>

    <main>
        <div class="all-messages" id="allMssgs">
            <div class="message" id="mssgBubble">
                <header>
                    <span id="username">WebChat</span>
                    <span id="time">10:01 am</span>
                </header>
                <p id="mssg-spot">
                    Hola mi bro, si quieres probar la app y no hay nadie más conectado, abre esta misma url en otra
                    pestaña o en otro navegador y chatea contigo mismo :)
                </p>
            </div>
        </div>
        <div class="send-message">
            <input type="text" id="mssg" placeholder="Escribe tu mensaje..." />
            <button id="sendMessage">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="little">
                    <path
                        d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                </svg>
            </button>
        </div>
    </main>


    <script src="/socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>
</body>


</html>