:root {
    --accent: #557ff1;
    --mssg-color: rgb(166, 166, 166);
    --my-text: #434343;
}

body {
    max-width: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
   
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dbebff' fill-opacity='0.03'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: var(--my-text);
    border-radius: 6px;
}

input {
    display: block;
}

body>header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    padding: 2rem 3rem 2rem 3rem;
    background-color: rgba(33, 33, 33, 0.7);
    border-bottom: 1px solid #77b2ff;
}

#logoNico>svg{
    width: 32px;
    fill: var(--mssg-color);
}

body>header h1 {
    margin: 0;
}

/* conectados header */
.conectados {
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateY(8px);
}

.conectados>svg {
    width: 18px;
}

#punto-conectados {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid var(--my-text);
}

#countConectados {
    font-weight: bold;
    font-size: xx-large;

}

.logo {
    fill: #bebebe;
    width: 44px;
    height: 44px;
    transform: translateY(8px);
}

.boton-registro {
    font-weight: bold;
}

.all-messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 5rem;
}

.all-messages>div:last-child {
    margin-bottom: 4rem;
}

/* CHATS */
#sendMessage {
    /* border: 3px solid rgba(194, 194, 194, 0.6); */

}

.little {
    width: 18px;
    height: 18px;
    transform: translateY(2px);
    fill: #434343;
}

main {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    padding-right: 15px;
    scroll-behavior: smooth;
}

.send-message {
    display: flex;
    align-items: baseline;
    gap: 5px;
    position: fixed;
    bottom: 1rem;
    width: 690px;
    max-width: 90%;
    padding-left: 5px;
    border-radius: 3px;

    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

#mssg {
    flex-grow: 1;
    height: 43px;
    outline: 1px solid #77b2ff;
    border: none;
}

#mssg:focus {
    outline: 1px solid #93c0fb;
}

.my-mssg {
    border-radius: 10px 0px 10px 10px !important;
    align-self: flex-end;
}

.message {
    width: 320px;
    background-color: var(--mssg-color);
    padding: .1rem 1rem;
    border-radius: 0 10px 10px 10px;
    color: var(--my-text);

    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.7));
}

.message>header {
    display: flex;
    justify-content: space-between;
    margin-top: .25rem;
}

#username {
    font-weight: bold;
}

#time {
    font-size: small;
    margin-top: 5px;
}

#mssg-spot {
    margin-top: 5px;
}

@media (max-width: 600px) {
    .logo {
        width: 32px;
        height: 32px;
        transform: translateY(8px);
    }

    h1 {
        font-size: xx-large;
    }

    .message {
        width: 240px;
    }

    #mssg-spot {
        margin: 0 0 12px 0;
    }

    .all-messages>div:last-child {
        margin-bottom: 6rem;
    }
}